@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<vc:Summary></vc:Summary>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a class="btn btn-info" asp-action="Create">Novo post</a>
    </p>
}
@foreach (var post in Model)
{
    <div class="card bottom-0 top-0">
        <div class="card">
            <div class="card-header">
                <h1>@post.Titulo</h1>
            </div>
            <div class="card-body">
                <h2>@post.Descricao</h2>
            </div>
            <div class="card-footer">
                <table border="0">
                    <tr>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <td>

                                <a class="btn btn-info" asp-action="Details" asp-route-id="@post.Id">Detalhes</a>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@post.Id">Editar</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@post.Id">Excluir</a>

                            </td>
                            <td class="col-1"></td>
                        }
                        <td>
                            <div>
                                <b>Autor:</b> @post.Autor.Nome - <b>Publicação:</b> @post.DataCriacao
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card bottom-0 top-0 ">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="card-header">
                    <a class="btn btn-info" asp-action="CreateComentario">Novo comentário</a>
                </div>
            }
            <table class="table table-hover">
                <thead class="card-header">
                    <tr>
                        <th>
                            Comentário
                        </th>
                        <th>
                            Data
                        </th>
                        <th>
                            Usuário
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="card-body">
                @foreach (var comentario in post.Comentarios)
                {
                    <tr>
                        <td>
                            @comentario.Descricao
                        </td>
                        <td>
                            @comentario.DataCriacao
                        </td>
                        <td>
                            @comentario.EmailCriacao
                        </td>
                        <td class="text-right">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="btn btn-warning" asp-action="EditComentario" asp-route-id="@comentario.Id"><spam class="fa fa-pencil-alt"></spam></a>
                                <a class="btn btn-danger" asp-action="DeleteComentario" asp-route-id="@comentario.Id"><spam class="fa fa-trash"></spam></a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
     </div>
     <br />
}



